name:  Update GitHub Metrics

on:
  schedule:
    - cron: '0 3 * * *'       # her sabah 06:00 Europe/Istanbul
  workflow_dispatch:

jobs:
  generate-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate GitHub Metrics SVG
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          user: AlperenSamurlu

          # art覺k classic template yerine local TEMPLATE.md kullanaca覺z:
          template_path: TEMPLATE.md

          config_timezone: Europe/Istanbul

          # dil analizini sat覺r bazl覺 tutmaya devam edelim (istee bal覺):
          plugin_languages: yes
          plugin_languages_indepth: true
          plugin_languages_details: lines
          plugin_languages_skipped: jupyter notebook, html, markdown, css

          output_action: commit
