name:  Update GitHub Metrics

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Metrics SVG
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          user: AlperenSamurlu
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Istanbul

          # D襤L ANAL襤Z襤
          plugin_languages: yes
          plugin_languages_indepth: true                     # Sat覺r say覺s覺 temelli analiz
          plugin_languages_sections: most-used               # Sadece 羹st k覺s覺m
          plugin_languages_details: lines                    # Sadece "sat覺r say覺s覺" 繹l癟羹t羹
          plugin_languages_skipped: html, css, markdown      # nemsiz diller gizlendi
          plugin_languages_threshold: 1%                     # %1 alt覺nda kalanlar gizlensin

          output_action: commit
